VITE_SUPABASE_URL=https://tkehgxyjkhtbauxsdqqz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrZWhneHlqa2h0YmF1eHNkcXF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMTM5MTAsImV4cCI6MjA5NjY4OTkxMH0.SkswbcE2pkawZA1uMgrsms1-ApkIbBDtXkQbYHOzshM